<% provide(:title, 'All users') %>

<div class='callout'>
  <%= link_to 'Create a new user', new_user_path, class: 'button create_button expanded' %>
</div>

<ul class='users'>
  <% @users.each do |user| %>
    <li class='user'>
      <%= link_to user.email, user_path(user) %> | <%= link_to 'Delete?', [:delete, user], method: :delete, data: { confirm: 'Are you sure?' }, class: 'dragons' %>
    </li>
  <% end %>
</ul>
