<header class="top-bar">
    <div class="top-bar-left">
      <h1><%= link_to(S301::Application.config.app_name, root_url, class: 'logo') %></h1>
    </div>
    <div class="top-bar-right">
      <nav>
        <ul class="menu site_nav">
          <li><%= link_to 'Short URLs', short_urls_path %></li>
          <li><a href="https://github.com/flyinggrizzly/s301" class="agpl-source-code">View on Github</a></li>
        </ul>
      </nav>
    </div>
</header>
